#main {
  margin-top: 110px;
  margin-left: 280px;
  margin-right: 280px;
    color:white;
    width: 800px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    border-radius: 10px;
    border-color: white;
    font-size: 13px;    
    font-family:'Lexend Deca';  
  }

  #kind{
    font-size: 50px;
    text-transform: uppercase;
  
    font-family:'Big Shoulders Display';
    }
  
  #first {
    padding-left: 40px;
    padding-right: 40px;
    background-color:hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
    flex:1;
  }

  #second {
    padding-left: 40px;
    padding-right: 40px;
    background-color:hsl(184, 100%, 22%);  
    flex:1;
  }

  #third {
    padding-left: 40px;
    padding-right: 40px;
    background-color:hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
    flex: 1;
  }

  

  button{
    border-radius: 30px;
    border-color:white;
    height: 40px;
    width: 120px;
  }

  #firstbtn{
    color:hsl(31, 77%, 52%);
  }

  #secbtn{
    color:hsl(184, 100%, 22%);
  }

  #thirdbtn{
    color:hsl(179, 100%, 13%);
  }